/* Basic Style */
.body {
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

.wrap{
  width: 500px;
  margin: 0 auto;
}

.header {
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }
}

.main {
  display: block;
}

.add-tasks-section__row {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}

li, 
h3 {
  box-sizing: border-box;
  list-style: none;
}

input,
button {
  outline: none;
}

.bt {
  width: 60px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #888;
  background: none;
  border: 0;
  cursor: pointer;
}

.bt:hover {
  color: #3a3a3a;
}

/* Heading */
.tasks-title {
  padding: 30px 0 10px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}

.item__input {
  flex-grow: 1;
  width: 226px;
  height: 21px;
  padding: 0 9px;
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.item__input:focus {
  color: #333;
}

/* New Task */
.add-tasks-section__title {
  display: block;
  margin: 0 0 20px;
}

.add-tasks-section__input {
  width: 318px;
}

/* Task list */
.tasks-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.tasks-list__item > * {
  vertical-align: middle;
}

.item__checkbox {
  margin: 0 10px;
}

.item__label {
  flex-grow: 1;
  width: 226px;
  padding-left: 10px;
  font-size: 18px;
}

.bt-delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.bt-delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.complete-tasks__list .item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-list__item .item__input {
  display: none;
}

/* ul li */
.edit-mode .item__input {
  display: inline-block;
  width: 224px;
}

/* ul li */
.edit-mode label {
  display: none;
}